{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main"><br><br><br>
 

  <section id="one" class="wrapper style1" style="padding-top: 40px; padding-bottom: 0;">

    <section id="specials" class="specials" style="padding-top: 0;">
      <div class="container" data-aos="fade-up">

            <div style="text-align: center; text-decoration: solid; padding-bottom: 15px;">
                <h2><b>WORK VISA</b></h2>
          <!-- <p style="color: black; font-size: 3em; font-family:Open Sans, sans-serif;">STUDENT & TRAINING VISA</p> -->
        </div>
          <br>
        
            
        <div class="section-title-details">
          <p>
            Foreign workers are required to have the proper visas and work permits in Greece, as established by immigration laws. Work permits must be secured for employees, and sponsored by a locally licensed and incorporated entity, which can be a problem for companies just entering the Greek market. If you have yet to complete the incorporation process you can use an outsourced management company or GEO Employer of Record to sponsor the employee for the necessary permits.
          </p>
          <p>
              <b>
                Your Options are:
              </b>
            
          </p>
        </div>
        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">Have Your Own Business</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Process of sponsoring a non-EEA worker
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Obtaining a work permit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">How to apply for a residence/work permit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Renewing a residence permit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-6">Processing time & Fees</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-8 mt-4 mt-lg-0" style="text-align: justify;">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Have Your Own Business</h3>
                    <p>Non-EEA nationals must obtain a work permit prior to the start of their employment activity in Greece.
                    </p>
                    <p>Residence/work permits for non-EEA nationals are, however, very difficult to obtain for those who are not of Greek origin or not married to a Greek. Once separate permits, the residence permit and the work permit are now all-in-one, meaning residence permits can include the right to work. It is not possible for a non-EU national to obtain a stand-alone work permit; the permission to work is included in the residence permit.</p>
                    <p>
                        Work permits in Greece are employer-specific (although there can be exceptions), occupation-specific, and location-specific, and are normally valid for one year.
                    </p>
                    <p>
                        A worker from a non-EU country must first obtain a visa to enter Greece and then apply for the residence/work permit once in Greece.
                    </p>
                  </div>
                  <!-- <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/sunsweet.jpeg" alt="" class="img-fluid">
                </div> -->
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Process of sponsoring a non-EEA worker</h3>
                    <p>In order for an employer to sponsor a work permit for a non-EEA nationals, it is necessary first to provide employees with an entry visas:</p>
                    <p>A type D visa (or<b><u> National Visa</u></b>) for work must be obtained for any non-EU national planning to stay in Greece for more than 90 days and work. This visa must be obtained before arriving in Greece, from the Greek Embassy or Consular Section in the applicant’s country of residence.</p>
                    <p>Required documents are as follows:</p>
                    <ul>
                        <li style="list-style-type:disc;">
                            A valid passport
                        </li>
                        <li style="list-style-type:disc;">
                            Prove of employment contract;
                        </li>
                        <li style="list-style-type:disc;">
                            Medical insurance coverage while in Greece;
                        </li>
                        <li style="list-style-type:disc;">
                            Criminal background check from the police station nearest the applicant’s residence.
                        </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Obtaining a work permit</h3>
                    <p>Within 30 days of arrival in Greece, the visa holder must apply in person for a residence/work permit at the local municipal office (Δημαρχείο / Dimarchio). In some areas, application may be made at the police station
                    </p>
                    <p>There are numerous types of residence permit available, depending on the applicant’s circumstances (self-employed, consultant, employee, executive). Validity periods range from one to five years.</p>
                    <p>
                        It is suggested to file the application as soon as possible after arrival, as the process can be lengthy.
                    </p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>How to apply for a residence/work permit</h3>
                    <p>Prior to applying for a residence permit, applicants must obtain a tax number (AFM) from the local tax office, as well as a social security number from the Social Security Institute (AMKA). It may be possible to obtain an AMKA number from the nearest IKA office (Social Insurance Institute) or Citizens Service Office (KEP).</p>
                    <p>
                        Application forms for residence permits can be obtained at the local municipal office (Δημαρχείο / Dimarchio) or prefecture (nomarxeia). It may be possible to obtain an application form at a Citizens Service Office.
                    </p>
                    <p>
                        Applications must be submitted, in Greek, either in person or by a certified lawyer granted power of attorney.
                    </p>
                    <p>
                        The following documents are required in order to obtain a residence permit:
                    </p>
                    <ul>
                        <li style="list-style-type:disc;">
                            Visa
                        </li>
                        <li style="list-style-type:disc;">
                            Passport plus photocopies
                        </li>
                        <li style="list-style-type:disc;">
                            At least two passport photographs
                        </li>
                        <li style="list-style-type:disc;">
                            Certificate of medical insurance
                        </li>
                        <li style="list-style-type:disc;">
                            Health Certificate from a state hospital (declaration that the applicant does not have any serious communicable diseases)
                        </li>
                        <li style="list-style-type:disc;">
                            Proof of local address (title deed or rental contract)
                        </li>
                        <li style="list-style-type:disc;">
                            Proof of ability to support oneself – job or resources
                        </li>
                        <li style="list-style-type:disc;">
                            Proof of payment of the required fee to the national tax office (Eforia)
                        </li>
                    </ul>
                    <p>
                        Two passport photos are officially required, although many applicants are required to present four.
                    </p>
                    <p>
                        Once the application has been submitted, the applicant will receive a blue form (bebaiosi) as receipt that the application is being processed, which means that the applicant is legitimate to work at this time. The applicant is responsible for following up to obtain the residence permit.
                    </p>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Renewing a residence permit</h3>
                    <p>At least 60 days before the residence/work permit will expire, an application must be submitted for renewal to the local municipal office or prefecture</p>
                    <p>Documents required for renewal include:</p>
                    <ul>
                        <li style="list-style-type:disc;">
                            A valid passport
                        </li>
                        <li style="list-style-type:disc;">
                            A photocopy of all pages in the passport
                        </li>
                        <li style="list-style-type:disc;">
                            A certified copy of the original residence/work permit
                        </li>
                        <li style="list-style-type:disc;">
                            A completed application form (in Greek)
                        </li>
                        <li style="list-style-type:disc;">
                            Additional documents will be required, depending on the type of permit being renewed.
                        </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="tab-6">
                <div class="row">
                  <div class="col-lg-10 details order-2 order-lg-1">
                    <h3>Processing time & Fees</h3>
                    <p>
                        <b>
                            Processing time: 
                        </b>
                        Approximately 30 days for the entry visa.
                    </p>
                    <p>
                        <b>
                            Fees:
                        </b>
                        Varies by country. Please contact us for a quote
                    </p>
                  </div>
                </div>
              </div>

            </div>

          </div>
    </section>

  </section>

</div> <br><br><br>

</main>



{% endblock %}