{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<!-- ======= Caurosel Section ======= -->
<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade " data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-1z" data-slide-to="1"></li>
    <!-- <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    <li data-target="#carousel-example-1z" data-slide-to="3"></li> -->
  </ol>


  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <!--First slide-->
    <div class="carousel-item active">
      <img class="d-block w-100" style="height: 620px;object-fit: cover;"
      src="/static/assets/img/img_1.jpeg" alt="First slide">

      <!-- <div class="container">

        <div class="carousel-caption">

          <h2 class="carousel-title animated" style="color: white";>Welcome to  Greece</h2>
         
          <h4 class="carousel-subtitle animated"style="background-color:23347C";></h4>

        </div>
      </div>-->
    </div>
    <!--/First slide-->

    <!--Second slide-->
    <div class="carousel-item">
      <img class="d-block w-100" style="height: 620px;object-fit: cover;"
      src="/static/assets/img/img_2.jpeg" alt="Second slide">

      <!-- <div class="container">

        <div class="carousel-caption">

          <h2 class="carousel-title animated" style="color: #fff">Welcome to Greece</h2>
         

          <h4 class="carousel-subtitle animated"style="background-color:#404040cc";></h4>

        </div>
      </div> -->

    </div>
    <!--/Second slide-->
    <!--Third slide-->
    <!-- <div class="carousel-item">
      <img class="d-block w-100" style="height: 620px;object-fit: cover;"
      src="/static/assets/img/rocks-1239727_1280.jpg" alt="Second slide">

      <div class="container">

        <div class="carousel-caption">

          <h2 class="carousel-title animated" style="color: #fff">Welcome to New Zealand</h2>
         

          <h4 class="carousel-subtitle animated"style="background-color:#404040cc";></h4>

      
        </div>
      </div>

    </div> -->
    <!--/Third slide-->

    <!--last slide-->
    <!-- <div class="carousel-item">
      <img class="d-block w-100" style="height: 620px;object-fit: cover;"
      src="/static/assets/img/new-zealand-2380704_1920 (1).jpg" alt="Third slide">
      <div class="container">

        <div class="carousel-caption">

          <h2 class="carousel-title animated" style="color: #fff";>Welcome to New Zealand</h2>
          

          <h4 class="carousel-subtitle animated"style="background-color:#404040cc";></h4>

      
        </div>
      </div>

    </div> -->
    <!--/last slide-->

  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<!-- Caurosel Section -->

  <main id="main">
    <!-- ======= Services Section ======= -->
    <section class="services">
      <div style="text-align: center; text-decoration: solid; padding-bottom: 30px;">
        <h2><b>Services</b></h2>
      </div>
      <div class="container">

        <div class="row">
          <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up"> -->
            <div class="col-md-4 col-sm-4">
            	<div class="wrimagecard wrimagecard-topimage" data-aos="fade-up" data-aos-delay="100">
                  <a href="{% url 'studentvisa' %}" class="wrimagecard-topimage">
                    <div class="wrimagecard-topimage_header" style="text-align: center">
                      <i class="bx bx-book-reader"></i>
                    </div>
                    <div class="wrimagecard-topimage_title" style="text-align: center;">
                       <h4>Student VISA</h4>
                    </div>
                  </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
            	<div class="wrimagecard wrimagecard-topimage" data-aos="fade-up" data-aos-delay="100">
                <a href="{% url 'workvisa' %}" class="wrimagecard-topimage">
                    <div class="wrimagecard-topimage_header" style="text-align: center">
                      <i class="bx bx-briefcase"></i>
                    </div>
                    <div class="wrimagecard-topimage_title" style="text-align: center;">
                       <h4>Work VISA</h4>
                    </div>
                  </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
            	<div class="wrimagecard wrimagecard-topimage" data-aos="fade-up" data-aos-delay="100">
                <a href="{% url 'golden_visa' %}" class="wrimagecard-topimage">
                    <div class="wrimagecard-topimage_header" style="text-align: center">
                      <i class="bx bx-euro"></i>
                    </div>
                    <div class="wrimagecard-topimage_title" style="text-align: center;">
                       <h4>Golden VISA</h4>
                    </div>
                  </a>
                </div>
            </div>

           

        </div>

      </div>
    </section>
    <!-- End Services Section -->

     <!-- ======= F.A.Q Section ======= -->
     <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2></h2>
          <p>About Greece</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1"> Capital City <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Athens
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question"> Language <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Greek
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Government <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Unitary parliamentary constitutional republic
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Area<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                50,949 square miles / 131,957 square kilometer
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Population<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                10.9 million
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Currency<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Euro
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq7" class="collapsed question">Calling code<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq7" class="collapse" data-bs-parent=".faq-list">
              <p> 
                +30
              </p>
            </div> 
     

          </li>

        </ul>

      </div>
    </section>
    
    <!-- End F.A.Q Section -->

    </main>

    {% endblock %}

    