{% extends 'base.html' %}
{% load static %}
{% block body_block %}

<main id="main">

<br>
<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container">
    <div style="text-align: justify;">
      <div class="section-title" style="
      text-align: center;">
      <p style=" margin-top: 30px;">STUDENT VISA</p>
      </div>
      <p>Greek advanced education is completely administered by the state. Just state-run establishments are perceived and permitted to give tertiary instruction. Some private establishments exist – principally parts of colleges and universities in for instance the United States and the UK. These thus offer degrees acknowledged by the administering assortments of the parent nation. Similarly, as with most private tutoring, educational expenses are impressively higher than for the state-funded colleges in Greece.
      </p>
      <p>
        The Greek arrangement of advanced education has for some time been a developing thing of discussion – generally because of the progressions occurring all through the European Union concerning the Bologna cycle. As the remainder of Europe run after a quality guaranteed and universally perceived arrangement of advanced education, reviewing and degrees, some state Greece is falling behind.
      </p>
      <p>
        Greece does anyway have many focuses to laud itself for the global understudy insight. Particularly maybe if you are a set of experiences buff or intrigued by paleo history. What you will discover in Greece are stunning landmarks and all around safeguarded things of one of the most significant origins of the present western human advancement.
      </p>
      <p>
        Investing energy in Greece will allow you not exclusively to visit the wonderful island universe of the Mediterranean, yet in addition to strolling through the old roads of Athens. You will encounter a benevolent culture where time and stress isn’t of a similar significance as what you might be utilized to.
      </p>
    </div>

    <ul class="nav nav-tabs row d-flex">
      <li class="nav-item col-4" data-aos="zoom-in">
        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
          <img src="{% static 'assets/img/advantage of education system icon.png' %}" class="icons" alt="">
          <!-- <i class="ri-gps-line"></i> -->
          <h4 class="d-none d-lg-block">BENEFITS OF STUDYING IN GREECE</h4>
        </a>
      </li>
      <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="100">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
          <img src="{% static 'assets/img/education system icon.png' %}" class="icons" alt="">
          <!-- <i class="ri-body-scan-line"></i> -->
          <h4 class="d-none d-lg-block">EDUCATION SYSTEM</h4>
        </a>
      </li>
      <li class="nav-item col-4" data-aos="zoom-in" data-aos-delay="200">
        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
          <img src="{% static 'assets/img/fees icon.png' %}" class="icons" alt="">
          <!-- <i class="ri-sun-line"></i> -->
          <h4 class="d-none d-lg-block">FEES</h4>
        </a>
      </li>
    </ul>

    <div class="tab-content" data-aos="fade-up">
      <div class="tab-pane active show" id="tab-1">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" style="text-align: justify;">
            <h3>BENEFITS OF STUDYING IN GREECE</h3>
            <ul>Here are some of the benefits that make studying in Greece so appealing to internationals:
              <li><i class="ri-check-double-line"></i> Concentrating in Greece gives understudies the chance to learn in an imaginative climate with a huge number of long periods of the history of excellent training, start with the most punctual western logician.</li>
              <li><i class="ri-check-double-line"></i>Greek schools are particularly known for programs in the expressive arts, theatre, photography, reasoning, archaic exploration, history and business. Most ace’s degree programs are instructed in Greek, however, for global understudies not capable in Greek, a portion of the in excess of 100 ace’s degree programs are educated in English.</li>
              <li><i class="ri-check-double-line"></i>Understudies not capable in Greek likewise have the chance to read Greek for one year before admission to a Greek-instructed program. </li>
              <li><i class="ri-check-double-line"></i>Two particular schools offer extra projects</li>
              <li><i class="ri-check-double-line"></i>The Hellenic Open University likewise offers separation learning programs for ace’s degrees in an assortment of controls.</li>
              <li><i class="ri-check-double-line"></i>Likewise, the International University of Greece in Thessaloniki offers different living arrangement and separation learning programs zeroed in on unfamiliar understudies. </li>
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/advantage of education system img.png' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-2">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" style="text-align: justify;">
            <h3>EDUCATION SYSTEM</h3>
            <ul>
              <li><i class="ri-check-double-line"></i> Higher education in Greece consists of two sectors: the university sector, which includes universities, and the technological sector, which includes Higher Technological Education Institutions (TEI).</li>
              <li><i class="ri-check-double-line"></i>University Level Education is provided by 24 Universities and 16 Technological Educational Institutes (TEIs), all of which are considered accredited by Greek state</li>
              <li><i class="ri-check-double-line"></i>All the Higher Tertiary state-accredited universities in Greece are public. The duration of the undergraduate degree programs for most disciplines is 4 years (240E.C.T.S).</li>
              <li><i class="ri-check-double-line"></i>Programs in engineering, dentistry, pharmacology, agronomics, forestry, along with some programs in fine arts, have a duration of 5 years (300 E.C.T.S)</li>
              <li><i class="ri-check-double-line"></i>Medicine is the only discipline with a duration of 6 years. These credits are accumulative and transferable under the European Credit Transfer and Accumulation System (ECTS)</li>
              <!-- <li><i class="ri-check-double-line"></i>any other issue which the visa officer deems relevant. </li> -->
            </ul>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/education system img.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-3">
        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0" style="text-align: justify;">
            <h3>FEES</h3>
            <ul>
              <li><i class="ri-check-double-line"></i> Higher education in Greece is free of charge for most programs to students from EU member countries.</li>
              <li><i class="ri-check-double-line"></i> Other international students pay the tuition of € 11,000 to € 16,000 per year.</li>
              <li><i class="ri-check-double-line"></i> Specialized and distance learning programs also require a fee for all students.</li>
              <li><i class="ri-check-double-line"></i> Full master’s degrees typically take two years to obtain, while a Graduate Diploma can be obtained in about one year.</li>
              <!-- <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li> -->
            </ul>
            <p>
              <b>
              If you're not from the EU or EEA, you need to apply for a visa to enter Ireland and study there. The type of visa you should apply for depends on the length of your degree:
            </b>
            </p>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'assets/img/fee img.jpg' %}" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
<p></p>

  </div>
</section><!-- End Features Section -->

</main>
{% endblock %}
